@import url('clash-display.css');

@import url('satoshi.css');


body {
	background-image: linear-gradient(to right, rgb(12,25,53), rgb(6,8,29));
}

.container {
  max-width:500px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 7%;
}

h1 {
  font-family: "Clash Display";
  font-weight: 400;
  color:rgba(255,255,255,0.6);
}

.circle1 {
	position: absolute;
	left: 65%;
	height: 220px;
	width: 220px;
	background-color: #F2CD5D;
	border-radius: 50%;
  }

.circle2 {
	position: absolute;
	left: 25%;
	top: 60%;
	height: 160px;
	width: 160px;
	background-color: #DA949F;
	border-radius: 50%;
  }

.circle3 {
	position: absolute;
	left: 31%;
	top: 70%;
	height: 100px;
	width: 100px;
	background-color: #BEB8EB;
	border-radius: 50%;
	z-index: +1;
  }

.service-details {
	width: 700px;
	height: 500px;	
	overflow: hidden;
	position: relative;
    border-radius: 20px;
	background: rgba(255,255,255,0.6);
	border: 0.7px solid rgba(255,255,255,0.7);
	box-shadow: 0 4px 30px rgba(0,0,0,0.1);
	backdrop-filter: blur(20px);
}

.service-details img {
	position: relative;
	top: 0;
	left: 0;
	height: inherit;
	width: 50%;
	height: 100%;
	float: left;
	transition: all 0.8s;
	-moz-transition: all 0.8s;
}

/* .service-details .service-hover-text h3 {
	padding: 0px;
	margin: 0px;
	font-size: 25px;
    font-weight:300;
	font-family: "Oswald", sans-serif;
}

.service-details .service-hover-text h4 {
	padding: 0px;
	padding-bottom: 13px;
	margin: 0px;
	font-size: 14px;
	letter-spacing: 3px;
	width: 90%;
	font-family: "Oswald", sans-serif;
	text-transform:uppercase;
} */

.service-details .service-hover-text p {
	padding-left: 15px;
    padding-top: 20px;
    padding-right: 30px;
	margin: 10px;
	font-size: 16px;
	line-height: 28px;
	font-family: "satoshi";
}


.service-details .service-hover-text{
	width: 42%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 50%;
	padding: 3% 4%;
	color: rgba(0,0,0,0);
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.4s;
}

.service-details:hover .service-hover-text {
	display: block !important;
	color: #2D2D30;
	background:#D7D7D7;
	left: 0px;
	top: 0px;
}

.service-details .service-text h1{
    padding: 60px 0px 0px 30px;
    font-size: 48px;
    font-weight: bold;
    font-family: "Clash Display";
	background: -webkit-linear-gradient(#43444A, #2D2D30);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.service-details .service-text h2{
    padding: 0px 0px 30px 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Clash Display";
    color: rgb(49,50,53);
}

.socials a{
    padding: 0px 0px 0px 30px;
	color: #3A3A3A;
}

.service-details .service-text {
	float: left;
} 

